@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Sakatlanma Riski Olan Futbolcuların Yaş ve Topa Temas Sayısı Grafiği</h1>
<img src="/Image/injury_vs_age.png" alt="Sakatlanma Riski Grafiği (Yaşa Göre)">
<br></br>
<br></br>
<br></br>
<img src="/Image/injury_vs_name.png" alt="Sakatlanma Riski Grafiği (Yapılan Müdahaleye Göre)">
<br></br>
<br></br>
<br></br>
<img src="/Image/injury_vs_touches.png" alt="Sakatlanma Riski Grafiği (Topa Temas Sayısına Göre)">
<br></br>
<br></br>
<br></br>
<img src="/Image/injury_vs_tackles.png" alt="Sakatlanma Riski Grafiği (Yapılan Müdahale Sayısına Göre)">
<br></br>
<br></br>
<br></br>
<img src="/Image/injury_vs_minutes.png" alt="Sakatlanma Riski Grafiği (Oynadığı Dakika Süresine Göre)">